.main-container {
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1E90FF;
  flex-direction: column;
  row-gap: 20px;
}

.clickedShape {
  opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 720;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 2s;
}
.shape {
  opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: -720;
  stroke-dasharray: 720;
}

.offClickedShape {
  opacity: 0.25;
  stroke: white;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 720;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 2s;
}
.offShape {
  opacity: 0.25;
  stroke: black;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 720;
  stroke-dasharray: 720;
  z-index: 4;
}

.second-switch {
  height: 62px;
  width: 302px;
  box-sizing: border-box;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    left: 50%;
    right: 10px;
    top: 10px;
    bottom: 10px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    transition: left 0.4s 0.2s, right 0.5s;
  }

  &-active {
    opacity: 1;
    border-color: rgb(24, 21, 21);
    &::after {
      right: 50%;
      left: 10px;
      transition: left 0.5s, right 0.4s 0.2s;
    }
  }
}

.second-on {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  padding: 20px 118px 20px 21px;
  border-radius: 30px;


  &-active {
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
    color: black;
    transition: background-color 5s ease-out;
  }
}
.second-off {
  position: absolute;
  top: 0;
  left: 140px;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  padding: 20px 21px 20px 118px;
  border-radius: 30px;


  &-active {
    z-index: 2;
    color: black;
    font-size: 15px;
    font-weight: bold;
    opacity: 1;
    transition: background-color 0.5s ease-out;
  }
}

.third-switch {
  height: 64px;
  width: 304px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border-right: 3px solid rgb(161, 161, 161);
  box-sizing: border-box;
  &.third-switch-active {
    opacity: 1;
    // border-left: 3px solid black;
    border-right: none;

    &::after {
      left: -30px;
      right: 55%;
      transform: skewX(20deg);
      transition: left 0.5s, right 0.5s;
    }
  }
  &::after {
    content: '';
    left: 50%;
    top: 3px;
    bottom: 4px;
    position: absolute;
    background: white;
    transition: left 0.4s, right 0.5s;
    right: -30px;
    transform: skewX(-20deg);
  }
}

.third-on {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  padding: 20px 118px 20px 21px;

  &-active {
    color: black;
    opacity: 1;
    font-size: 15px;
    font-weight: bold;
    z-index: 2;
    transition: background-color 0.5s ease-out;
    &::before {
      content: '';
      left: 17%;
      top: 0px;
      bottom: 0px;
      position: absolute;
      border-top: 71px solid white;
      border-right: 50px solid transparent;
      transition: left 0.4s;
    }

    &::after {
      content: '';
      left: 17%;
      top: 0px;
      bottom: 0px;
      position: absolute;
      border-top: 71px solid white;
      border-right: 50px solid transparent;
      transition: left 0.4s;
    }
  }
}
.third-off {
  position: absolute;
  top: 0;
  left: 160px;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  // width: 120px;
  text-align: right;
  z-index: 2;
  padding: 20px 20px 20px 100px;

  &-active {
    opacity: 1;
    font-size: 15px;
    font-weight: bold;
    color: black;
    transition: background-color 100s ease-out;
    &::before {
      content: '';
      left: 42%;
      top: 0px;
      bottom: 0px;
      position: absolute;
      border-top: 71px solid white;
      border-left: 50px solid transparent;
      transition: left 0.4s;
    }
  }
}

.third {
  &-on,
  &-off {
    &::before,
    &::after {
      opacity: 0;
    }
  }
}

.first-switch {
  width: 210px;
  height: 62px;
  display: flex;
  column-gap: 1px;
  flex-direction: row;
}

.a1 {
  opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 320;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 2s;
}
.a {
  opacity: 1;
  stroke: #fff;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: -320;
  stroke-dasharray: 320;
}

.ao1 {
  opacity: 0.25;
  stroke: transparent;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 320;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 2s;
}
.ao {
  opacity: 0.25;
  stroke: black;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 320;
  stroke-dasharray: 320;
  z-index: 4;
}

.b1 {
  opacity: 1;
  stroke: transparent;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 320;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 2s;
}
.b {
  opacity: 1;
  stroke: black;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: -320;
  stroke-dasharray: 320;
}

.bo1 {
  opacity: 0.25;
  stroke: white;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 0;
  stroke-dasharray: 320;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 2s;
}
.bo {
  opacity: 0.25;
  stroke: black;
  stroke-width: 2px;
  fill: none;
  stroke-dashoffset: 320;
  stroke-dasharray: 320;
  z-index: 4;
}

.first-on-wrapper {
  position: relative;
}

.first-off-wrapper {
  position: relative;
}

.first-on {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: white;
  opacity: 0.6;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  width: 100px;
  height: 60px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;


  &-active {
    color: white;
    opacity: 1;
    transition: background-color 5s ease-out;
  }
}
.first-off {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  opacity: 0.6;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;
  width: 100px;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &-active {
    color: white;
    opacity: 1;
    transition: background-color 0.5s ease-out;
  }
}
